.rooms {
	list-style-type: none;
	padding: 0;
}
.rooms ul {
	list-style-type: none;
	padding: 0;
}
.rooms>li {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	width: 100%;
	box-shadow: #646464 0 0 10px 1px;
	margin-bottom: 10px;
}

.rooms>li>.date {
	padding: 10px;
	background: #ccc;
}
.rooms>li>.date>span {
	display: block;
	font-size: 1.4rem;
}

.rooms>li>ul {
	flex: 1;
	text-align: left;
	padding: 10px;
}
.rooms>li>.action {
	padding: 10px;
}