@font-face {
    font-family: DevinneCondensed2;
    src: url(../assets/Devinne_Condensed_2.ttf);
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	background: #777980;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.container {
	width: 600px;
	min-height: 400px;
	background-color: #EDEEF8;
	box-shadow: #646464 0 0 10px 5px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.container.wide {
	width: 900px;
}
.container .sidebar {
	color: white;
	width: 180px;
	min-height: 400px;
	background-color: #777980;
	padding: 0px 20px;
}
.profile-info {
	padding: 20px 0;
	border-bottom: 1px solid white;
}
.profile-info .name-surname {
	font-size: 1.4rem;
	font-weight: bold;
}
.container .content {
	padding: 30px;
	text-align: center;
	flex: 1;
}
ul.menu {
	list-style-type: none;
	padding: 0;
	font-size: 1.1rem;
}
ul.menu li:last-child {
	margin-top: 10px;
}
ul.menu a {
	color: white;
	text-decoration: none;
	display: block;
}
ul.menu a i {
	width: 20px;
}
ul.menu a:hover {
	color: #ccc;
}

form {
	text-align: left;
}

h1 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 3rem;
	margin: 0 0 30px 0;
}
h2 {
	font-family: Verdana;
	font-weight: normal;
	font-size: 2rem;
	margin: 0 0 30px 0;
}
ul.reservations {
	padding: 0;
}
ul.reservations li, #addReservation {
	height: 30px;
	line-height: 30px;
	margin: 20px 0px;
	padding: 5px 15px;
	box-shadow: #646464 0 0 10px 1px;
	cursor: pointer;
	background-color: #EDEEF8;
	text-align: left;
	display: block;
}
ul.reservations li:hover, #addReservation:hover {
	background-color: #eee;
}
ul.reservations li>a>div, #addReservation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#addReservation {
	text-align: center;
	margin-top: 40px;
	display: block;
}

.form-style-1 fieldset {
	border: none;
	margin: 15px 0 0 0;
	padding: 0;
}
.form-style-1 legend {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.form-style-1 ul {
    margin: 10px auto;
    max-width: 400px;
    padding: 3px 12px 10px 12px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 li.invalid input {
    border:1px solid #f00;
}
.form-style-1 li .validation-message {
	display: none;
	color: #f77;
}
.form-style-1 li.invalid .validation-message {
	display: inline;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
.form-style-1 input[type=password],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 input[type=password]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49.4%;
}
.form-style-1 .field-divided-long{
    width: 79.4%;
}
.form-style-1 .field-divided-short{
    width: 19.4%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
.loading-message, .error-message {
	font-weight: bold;
	display: none;
}
.error-message {
	color: red;
}
div.your-reservation {
	margin-bottom: 40px;
}